<div id="background">
  <div class = "welcome-container-left">
    <h1> TriedBy</h1>
    <h3> What has your network tried? </h3>

      <h5><marquee behavior="scroll" direction="left">Scrolling list of products goes here Scrolling list of products goes here Scrolling list of products goes here </marquee></h5>

  </div>

</div>
  <div class = "welcome-container-right">
    <h4> Discover new tools </h4>
    <h4> Share your experiences </h4>
    <h4> Make products better</h4>
    <h4> 
      <%= link_to "Sign Up with Linkedin", class: 'btn btn-success' %> 
    </h4>
  </div>

