@import "bootstrap";

$jumbotron-color: #00bb66;
$jumbotron-bg: #00bb66;

body {
    background-color: #ff3311;
}

#background {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 70%;
    height: 100%;
    background-color: #00bb66; 
}

.welcome-container-left {
  margin-left: 40%;
  margin-top: 20%;
  color: white;
}

.welcome-container-right {
  text-align: right;
  margin-top: 20%;
  color: white;
}