<h1>Categories#index</h1>
<p>Find me in app/views/categories/index.html.erb</p>
<p> Links to all the categories <p>


<%= link_to "Add Category", new_category_path, class: 'btn btn-success' %>


<div class="row">
  <% @categories.each do |category| %>
  <div class="col-md-3"> 
      <%= link_to category.name, category_path(category.id) %> 
  </div>

</div>

<% end %>

<!--TODOs 
1. click through to display products within each category
2. display add new category for admins only
3. incorporate friendly id: https://github.com/norman/friendly_id

-->