<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>
<p> Links to all the companies nested within each category </p>


<%= @category.name %> 
<%= link_to "Edit", edit_category_path(@category), class: 'btn btn-success' %>
<%= link_to "Delete Category", @category, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this category?'} %>
<!-- TODO
1.  Display products/companies within each category?
2.  only show edit button for admins
3.  REMOVE delete button in production
-->
